@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,
body {
  padding: 0;
  margin: 0;
  font-family: "NanumSquare", sans-serif;
  background-color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

button,
input {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
}

img {
  object-fit: cover;
}

textarea {
  resize: none;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

#noto {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}
