@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
html,
body {
  padding: 0;
  margin: 0;
  font-family: "NanumSquare", sans-serif;
  letter-spacing: 0px;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

button,
input,
select {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
}

img {
  object-fit: cover;
}

textarea {
  resize: none;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

#noto {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

#focus {
  transition: 0.5s;
  border: 2px solid transparent;
}

#focus:focus {
  border: 2px solid #5d75d6;
}
